body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  #lista_elevi_wrapper, #note_elev_wrapper {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  h1, h2 {
    text-align: center;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    border: 1px solid #ccc;
    text-align: center;
    padding: 10px;
  }
  
  button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  input {
    padding: 10px;
    width: calc(100% - 22px);
    margin-bottom: 10px;
  }
  