body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
}
.container {
    display: flex;
    min-height: 100vh;
}
.left-side {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right-side {
    flex: 1;
    padding: 10px;
   
}
.x-logo {
    font-size: 48px;
    margin-bottom: 20px;
}
.heading {
   font-size: 32px;
    margin-bottom: 12px;
}
.login-buttons {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 300px;
}
.button {
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
}
.sign-up {
    background-color: rgb(29, 155, 240);
    color: white;
}
.login {
    border: 1px solid rgb(83, 100, 113);
    color: rgb(29, 155, 240);
}
.info{
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 20px;
    color: rgb(83, 100, 113);
}
.button login {
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    max-width: 300px;
}